*{
  margin: 0;
  padding: 0;
}


img {
    width: 100% !important;
  }
  
  .sim-slider {
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
  }
  
  /* Главные стили */
  .sim-slider {
    position: relative;
  }
  
  .sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
  }

  .sim-slider-element span{
    position: absolute;
    width: 85px;
    height: 24px;
    left: 260px;
    top: 295px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #0ED984;
    border-bottom: 3px solid #0ED984;
}



  .sim-slider-element h1{
    position: absolute;
    width: 1000px;
    height: 212px;
    top: 352px;
    left: 260px;
                
    color: #FFFFFF;
                
    font-family: Ubuntu ;
    font-style: normal;
    font-size: 46px;
    line-height: 110%;

  }

  .sim-slider-element p{
    position: absolute;
    width: 600px;
    height: 50px;
    left: 260px;
    top: 480px;
    color: #FFFFFF;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 125%;
  }

.more {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 50px;
  font-family: ;
  position: absolute;
  width: 210px;
  height: 60px;
  left: 1050px;
  top: 504px;
  color:white;
  border: 2px dashed #FFFFFF;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  z-index: 4;
  }
  .more:hover{
    color: rgb(255, 49, 176);
    background-color: rgb(255, 255, 255);

  }

  
  /* Navigation item styles */
  div.sim-slider-arrow-left,
  div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
  }
  
  div.sim-slider-arrow-left {
    left: 10px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
  }
  
  div.sim-slider-arrow-right {
    right: 10px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
  }
  
  div.sim-slider-arrow-left:hover {
    opacity: 1.0;
  }
  
  div.sim-slider-arrow-right:hover {
    opacity: 1.0;
  }
  
  div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 138px;
    z-index: 4;
    text-align: left;
    
  }
  
  span.sim-dot {
    position: ;
    left: 170px;
    width: 30px;
    height: 25px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background:url(img/icon.png) ;
    border-radius: 50%  ;
    cursor: pointer; 
  }
  span.sim-dot:hover{
    border: 2px solid #0ED984;
  }



 